body{
     padding: 15px 15px;
    background: transparent;
    font-weight: 700;
    font-size: 12px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
::-webkit-scrollbar {
    width: 1.5px;
}
  
  .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #9E9E9E;
}
.table-bordered {
    border: 1px solid #9E9E9E;
  border-radius: 20px;
}
table {
    background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning, .table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th, .table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning {
    background-color: rgba(33, 126, 211, 0.33)!important;
    color: #fff!important;
}
