#fr{width:100%;}#map{width:100%;height:100%;}
.ymaps-2-1-48-balloon_layout_panel {background-color: rgba(255, 255, 255, 0.8)!important;}
.ymaps-2-1-48-balloon__content {background: transparent!important;}
.ymaps-2-1-48-copyright__wrap {display: none!important;}                      /*----копирайт----*/
.ymaps-2-1-48-map-copyrights-promo {display: none!important;}                /*----готомапс----*/
.ymaps-2-1-48-balloon__close+.ymaps-2-1-48-balloon__content {margin-right: 5px!important;padding-right: 0;}
.ymaps-2-1-48-i-custom-scroll ::-webkit-scrollbar {width: 0px!important;height: 13px;}
.ymaps-2-1-48-searchbox__normal-layout {display: none!important;}         /*----сёрчбокс----*/
		     @keyframes sonar {
  0%   { opacity: 1;
    transform: scale(1);}
  100% { transform: scale(4);
    opacity: 0; }}

		     #dot .ping {
    border: 2px solid #FF9800;
    opacity: 1;
    background:#ff1100;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-name: sonar;
    animation-name: sonar;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    /* position: absolute; */
    /* left: 78%; */
    margin-left: 28px;
    /* top: 47%; */
     margin-top: 18px; 
}
		     
		     #mp{
    left: 0.5px;
    top: 65px;
    position: absolute;
    z-index: 500;
    color: #fff;
    text-decoration: blink;
    font-size: 20px;
    background: #FF9800;
    border-radius: 15px;
    padding: 0px 6px 2px 6px;
}		     
		body::-webkit-scrollbar {
    width: 1px;
}
		body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
            body, html {
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
            }
